.image_preview img{
 

 text-align: center;
 display: flex;
 align-items: center;
object-fit: cover;
 justify-content: center;
border-radius: 100%;   
}
.image_preview {
    height: 147px;
    width: 147px;
    overflow: hidden;

 display: flex;
 align-items: center;
 line-height: 200px;
 justify-content: center;
border-radius: 100%;    background:rgb(184, 182, 182)
}
.productImage img{
    width: 40px;
    border-radius: 100%;
    height: 43px;
    }


    @media (min-width: 576px) {
        .modal-dialog {
            max-width: 50% !important;
            margin-right: auto;
            margin-left: auto;
        }}







        .allcategoriess{
            max-height: 90vh;
            height: 70vh;
        }
        .fixed_pagination{
            cursor: pointer;
        }
        
        .rtl{
            direction: rtl;
            text-align: right;
        }

        .image_preview {
            margin: 0 auto;
        }